{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false,
                "corejs":2
            }
        ],
        "@babel/preset-react",
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd"
        }],
        "@babel/plugin-proposal-class-properties"
    ]
}