
@import "~antd/dist/antd.less";

@primary-color: #f90;
@info-color: #f90;
@success-color: #f90;
@processing-color: #f90;
@error-color: #f90;
@highlight-color: #f90;
@warning-color: #f90;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;