@import './_var';
body{
    background-color: initial;
    font-family: "Roboto",Arial,"Microsoft YaHei",sans-serif;
}
.header-placeholder-v2,.vo-sider{
    *, *::before, *::after{
        -webkit-box-sizing: initial;
        box-sizing: initial;
    }
}



.ant-input{
    padding: 5px 10px;
    border: 1px solid #ced3d9;
    border-radius: 6px;
    color: #222;
    vertical-align: middle;
    line-height: 1.5;
    box-sizing: border-box;
}
.ant-form-item-control {
    position: relative;
    line-height: 32px;
    zoom: 1;
}
.ant-input:focus,.ant-cascader-input:focus,.ant-cascader-picker-label:focus + .ant-cascader-input{
    border-color: $color-main;
    box-shadow: none!important;
}
.ant-form-item-label{
    font-size: 14px;
    line-height: 15px;
    padding: 0 10px 0 0;
    white-space: normal;
    text-align: right;
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: flex-end;
    overflow: visible;
    label{
        color: #888;
    }
    label::after{
        top: 0;
        margin: 0;
    }
}
.ant-form-item-required::before{
    font-family: inherit
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    box-shadow: none;
}

.has-error .ant-input-group-addon{
    color: inherit;
}

.ant-select-dropdown {
    border: 1px solid #ced3d9;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0,33,66,0.1);
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #e6ecf2;
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #e6ecf2;
}
.has-error .ant-select-open .ant-select-selection, .has-error .ant-select-focused .ant-select-selection {
    box-shadow: none;
}
.ant-checkbox-checked .ant-checkbox-inner{
    background-color: inherit;
}
.ant-checkbox:hover .ant-checkbox-inner{
    background-color: #d9ecff;
}
.ant-checkbox-checked:hover .ant-checkbox-inner{
    background-color: inherit;
}

.ant-checkbox-checked .ant-checkbox-inner::after {

    content: "";
    display: block;
    width: 9px;
    height: 4px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #1470cc;
    position: absolute;
    left: 3px;
    top: 4px;
    transform: rotate(-45deg);
    transition: all .1s ease-in;

}

@media screen and (max-width:768px) {
    .ant-form{
        label{
            font-size: 12px;
        }
    }
    .ant-form-item-label{
        height: auto;
    }
    .ant-form-item{
        font-size: 12px;
    }
    .ant-col-xs-24.ant-form-item-label{
        padding-bottom: 0;
        label::after {
            display: inline;
        }
    }
}

