
//test var
$color-font_normal:#555;
$color-font_dark:#222;
$color-font_light:#888;
$color-font_link:#1470CC;
$color-font_link-hover:#E64545;
$color-font_warning:#FF7733;
$color-bd_normal:#e6ecf2;
$color-bd_input:#ced3d9;