@import '../../../styles/_var';
html{
    background: #f5f7fa;
}
body{
    background: none;
}
.react-apply-credit{
    .vo-sider{
        display: none;
    }
    .apply-credit{
        margin-left: 0;
    }
}
.textarea-with-number{
    position:relative;
    border: 1px solid #ced3d9;
    overflow: hidden;
    border-radius: 6px;
    &:hover{
        border-color: #388ed9;
    }
    &:focus{
        border-color: $color-main;
    }
    &.textarea-with-number-error{
        border-color: $color-main-red;
    }
    .textarea-span{
        width: 100%;
        padding: 6px 10px;
        border-top: 1px solid #e6ecf2;
        box-sizing: border-box;
        background: #f6f7fb;
        color: #888;
        font-size: 12px;
        line-height: 1.5;
        text-align: right;
    }
    textarea {
        border: 0;
        resize: none;
    }
}

.apply-credit{
    font-size: 30px;
    .credit-status{
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-bd_normal;
        .ant-form-item{
            margin-bottom: 10px;
        }
    }
    .vo-block{
        padding: 40px 20px;
    }
    .ac-title{
        font-size: 18px;
        font-weight: bold;
    }
    .form-block-title{
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 5px;
        border-top: 1px solid $color-bd_normal;
        padding-top: 40px;
        margin-top: 30px;
    }
    .doc-info{
        background: #f5f7fa;
        padding: 10px;
        font-size: 12px;
        color: #888;
        margin-bottom: 20px;
    }
    .upload-tip{
        font-size: 12px;
        line-height: 1.5;
        color: #888;
        margin-top: 5px;
        display: block;
        
    }
    .upload-list-show{
        .attach-list{
            padding-top: 0;
        }
    }
    .form-error.error{
        color: $color-main-red;
    }
    &.apply-credit-applying{
        .ant-form-item{
            margin-bottom: 10px;
            .ant-form-item-label > label::after {
                content: ':';
            }
        }
        .form-block-title{
            border-top: 0;
            padding-top: 0;
            margin-top: 30px;
        }
        
        .applying-inner{
            color: #222;
            word-wrap: break-word;
            padding: 7px 0 5px;  
            line-height: 20px;
        }
        
    }
}

