@import '../../../styles/_var';
$record_payment: #00b300;
$record_repayment: #2e8ae6;
$record_carried: #f25555;
$record_refund: #ff9500;
@mixin record($color: $record_payment) {
  color: $color;
  border: 1px solid $color;
  padding: 1px 6px;
  border-radius: 6px;
  font-size: 12px;
}
.break {
  word-break: break-word;
}
//BIll
.bill-title {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  big {
    font-size: 18px;
    color: $color-font_dark;
  }
  .cycle {
    margin-left: 10px;
  }
  .date {
    @include pc() {
      line-height: 27px;
    }
  }
}
.bill-info {
  background: #f5f7fa;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &-detail {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  &-item {
    margin-right: 40px;
    span {
      color: $color-font_light;
    }
    p {
      color: $color-font_dark;
      font-size: 18px;
    }
  }
  &-item:last-of-type {
    margin-right: 0;
  }
  &_repaid {
    font-size: 18px;
    color: $record_payment;
  }
}

.bill-detail {
  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    border-bottom: 1px solid $color-bd_normal;
    @extend .break;
  }
  .price {
    font-size: 18px;
    color: $color-font_dark;
    &-repayment {
      color: $record_repayment;
    }
  }
  .order,
  .info {
    color: $color-font_light;
    a:hover {
      color: $color-font_link-hover;
    }
  }
  .orderNumber {
    color: $color-font_light;
  }
  .seller {
    color: $color-font_normal;
  }
}

.record_Payment {
  @include record();
}
.record_Repayment {
  @include record($record_repayment);
}
.record_CarriedOver {
  @include record($record_carried);
}
.record_Refund {
  @include record($record_refund);
}
