@import '../../../styles/_var';
$record_repayment:#2E8AE6;

.break {
  word-break: break-word;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

.light-link {
  color: $record_repayment;
}

// .vo-main-wrap {
//   margin-left: 230px;
//   padding: 20px 20px 0 20px;
// }
// .vo-main {
//   margin: 0 auto;
//   max-width: 1280px;
//   background: #f5f7fa;
// }

.ant-breadcrumb {
  margin-bottom: 20px;
}

.vo-main-title {
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: $color-font_light;
  }
}

.vo-block {
  padding: 20px;
  margin-bottom: 20px;
  color: $color-font_light;
}

.mb-10 {
  margin-bottom: 10px;
}

/* credit */

.credit {
  p {
    margin: 0;
  }
  h3{
    font-weight: 600;
  }
  .credit-info {
    @extend .vo-block;
    @extend .shadow;
    padding: 30px;
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
    .remaining {
      color: $color-font_link;
      @extend .mb-10;
    }
    h3 {
      font-size: 36px;
      color: $color-font_link;
    }

    &_invalid {
      .credit_status {
        font-size: 24px;
        vertical-align: middle;
        border: 1px solid #e64545;
        padding: 0 10px;
        border-radius: 6px;
        color: #e64545;
      }
    }
    &_frozen {
      .credit_status {
        font-size: 24px;
        vertical-align: middle;
        padding: 0 10px;
        border-radius: 6px;
        border: 1px solid #ff9500;
        margin-left: 11px;
        color: #ff9500;
      }
      .remaining,
      h3 {
        color: #b3b3b3;
      }
    }

    .credit-info_bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    .total {
      font-size: 18px;
      color: $color-font_dark;
      padding-right: 20px;
      border-right: 1px solid $color-bd_normal;
    }
    .used {
      font-size: 18px;
      color: $color-font_dark;
      padding-left: 20px;
      margin-right: 40px;
    }
    .unpaid {
      margin-right: 40px;
      p {
        font-size: 36px;
        font-weight: 700;
        color: $color-font_dark;
      }
    }
    .total,
    .used,
    .unpaid {
      span {
        font-size: 14px;
        color: $color-font_light;
      }
    }
  }

  .credit-main {
    @extend .vo-block;
    @extend .shadow;
    padding: 0;
    background: #fff;
  }
  .bill-title{
    display: none;
  }
}


//modal
.mt-20 {
  margin-top: 20px;
}
.modal-content {
  .title {
    font-size: 14px;
    color: $color-font_light;
  }
  .count {
    font-size: 18px;
    color: $color-font_dark;
  }
  .repayment-input{
    width: 250px;
    margin-top: 5px;
  }
  .unpaid_error{
    // font-size: 12px;
    color:$color-font_link-hover;
  }
}
.modal-footer {
  padding: 20px 0;
  overflow: hidden;
  .btn {
    float: right;
  }
}
.btn-groups {
  .btn {
    margin-bottom: 10px;
  }
}

//tabs
.tabCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-font_light;
  .tab-title {
    font-size: 16px;
  }
}

// overwrite ant-tabs
.ant-tabs-bar,
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container,
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab,
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  height: 66px;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  .tab-title {
    color: $color-font_dark;
    font-weight: 600;
  }
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  padding: 10px 35px;
  line-height: 1.5;
  vertical-align: top;
  text-align: center;
  border-right: none;
  &:last-of-type {
    border-right: 1px solid $color-bd_normal;
  }
}
.ant-tabs-content {
  padding: 20px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  // border-color: #fff;
  // border-bottom-color: $color-bd_normal;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:first-child{
  margin-left: -1px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border-radius: 0;
  background: #fff;
  border-top-color: #fff;
}

// overwrite modal
.ant-modal-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
.ant-modal-close {
  color: $color-font_dark;
  .ob-icon {
    font-size: 20px;
  }
}
.ant-modal-header {
  border-bottom: none;
  padding: 20px;
}
.ant-modal-body {
  padding: 0 20px;
}
.ant-modal-footer {
  border-top: none;
  padding: 20px;
}

//overwrite input
.ant-input-group-addon {
  background: #f5f7fa;
  border-color: $color-bd_input;
}

@include phone() {
  .credit{
    .credit-info {
      padding: 20px;
      h3,.unpaid p {
        font-size: 30px;
      }
      &_frozen .credit_status {
        font-size: 14px;
      }
      .total {
        flex-basis: 50%;
      }
      .used {
        margin-right: 0;
        flex-basis: 50%;
      }
    }
    .credit-btns .btn-main,
    .credit-btns .psw {
      display: block;
    }
    .bill-info-item {
      margin-right: 0;
      flex-basis: 100%;
    }
    .bill-detail-item {
      padding: 10px 0;
      .price {
        flex-basis: 100%;
      }
    }
    .ant-tabs {
      font-size: 12px;
    }
  }
}
