@import '../../../styles/_var';
@include phone() {
  .vo-main-wrap {
    margin-left: 0;
    padding: 20px 20px 0 20px;
  }
  .vo-main {
    margin: 0 auto;
    max-width: 1280px;
  }
  .billDetail {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
    margin-bottom: 20px;
    overflow: auto;
    p{
      margin: 0;
    }
    .bill-title{
      margin: 15px;
      .date{
        float: none;
      }
    }
    .bill-info{
      margin: 15px;
      padding: 15px;
    }
    .bill-info-item {
      flex-basis: 100%;
    }
    .bill-detail {
      padding: 15px;
      border-radius: 6px;
    }
  }
}
