.no-result{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  padding: 80px 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  margin: 20px 0;
  i{
    font-size: 34px;
    padding-right: 5px;
    color: #ff9500;
  }
}